<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Collect</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/clean-blog.min.css') }}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="index.html">atlan</a>
    </div>
  </nav>

  <!-- Page Header -->
  <!-- <header class="masthead" style="background-color:DodgerBlue;"> -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>COLLECT</h1>
            <span class="subheading">Manage Your Long Running Tasks</span>
            <br>
            <a class="btn btn-success float-centre" href="/start">Start Task</a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto", id="taskstat">
        
      </div>
    </div>
  </div>
  <hr>

  <div class="container">
    <div class="row" id = "allTasks">
      </div>
      </div>
    </div>
  </div>


  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2020</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>
  <script>
    
    let updateTasks = () => {
      $.get("/data", (data) => {
        $("#taskstat").html(``)
        console.log(data)
        for(let task of data) {
          $("#taskstat").append(`
          <div class="post-preview">
            <h2 class="post-title"> Task ID : `+
              task.sno+
            `</h2>
            <h3 class="post-subtitle" >Current Status : 
            <span style="color:#76F24E;" >`+task.status+`</span>
            </h3>
          <p class="post-meta">Start Time : `+
            task.time+
          `</p>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button onclick = "pause(`+ '\'' + task.task_id + '\'' + `)" type="button" class="btn" style="background-color:#F5F272;">PAUSE</button>
            <button onclick = "resume(`+ '\'' + task.task_id + '\'' + `)" type="button" class="btn" style="background-color:#92F572;">RESUME</button>
            <button onclick = "cancel(`+ '\'' + task.task_id + '\'' + `)" type="button" class="btn" style="background-color:#F27B6B;">CANCEL</button>
          </div>
        </div>
        <hr>`)
        }
      })
    }

    $(document).ready(() => {
      updateTasks()
    })

    let start = () => {
      $.get(`/start`, (data) => {
          alert(data)
          updateTasks()
        })
    }

    let cancel = (id) => {
      console.log(id)
      $.get(`/cancel?id=${id}`, (data) => {
          alert(data)
          updateTasks()
        })
    }

    let pause = (id) => {
      console.log(id)
      $.get(`/pause?id=${id}`, (data) => {
          alert(data)
          updateTasks()
        })
    }

    let resume = (id) => {
      console.log(id)
      $.get(`/resume?id=${id}`, (data) => {
          alert(data)
          updateTasks()
        })
    }
  
  </script>

</body>

</html>
